#buttons{
    border: 1px solid white;
    background-color: #D4AF37;
        color: white;
}
    
      #buttons:hover{
        background-color: white;
        border: 1px solid rgb(45, 21, 21);
        color:black;
      }
   

